body {
    margin: 0px;
    padding: 0px;
}
.nav_img{
    max-width: 375px;
}
.nav_title{
    font-family: 'Big Shoulders Display';
    font-size: 60px;
    padding-left: 15px;
}
.nav_text{
    font-family: 'Outfit';
    font-size: 18px;
    color: #b2b2b2;
    padding-left: 15px;
    padding-right: 10px;
}
.nav_button{
    color: #FFFFFF;
    border: none;
    font-family: 'Big Shoulders Display';
    font-size: 20px;
    letter-spacing: 4px;
    cursor: pointer;
    margin: 0px;
    display: flex;
    padding: 0px;
    margin-left: 10px;
    margin-bottom: 60px;
}
.nav_button_icon{
    background-color: #D5966C;
    padding:20px;
}
.nav_button_text{
    background-color: #151515;
    padding: 20px;
    margin: 0px;
}
.nav_button:hover .nav_button_text {
    background-color: #D5966C;
}
.nav_button:hover .nav_button_icon {
    background-color: #151515;
    fill:#FFFFFF;
}
.gallery{
display: flex;
flex-direction: column;
}
.gallery_img{
 max-width: 343px;
 padding: 10px;
 padding-left: 12px;
}
.gallery_title{
padding-left: 15px;
font-family: 'Big Shoulders Display';
font-size: 50px;
}
.gallery_text{
padding-left: 15px;
padding-right: 10px;
font-family: 'Outfit';
font-size: 18px;
color: #b2b2b2;
}
.inspire{
    background-color: #151515;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 80px;
}
.inspire_title{
    font-family: 'Big Shoulders Display';
    font-size: 40px;
    padding-top: 20px;
    padding-left: 10px;
}
.inspire_text{
    font-family: 'Outfit';
    font-size: 18px;
    padding-bottom: 40px;
    padding-left: 10px;
}
.info{
    background-color: #151515;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}
.info_title{
    font-family: 'Big Shoulders Display';
    font-size: 30px;;
    padding-top: 20px;
    padding-left: 10px;
}
.info_text{
    font-family: 'Outfit';
    font-size: 18px;
    padding-bottom: 20px;
    padding-left: 10px;
}
.info_icons{
padding-bottom: 40px;
padding-left: 10px;
}
.info_icon{
    cursor: pointer;
    margin-right: 10px;
}
.info_icon:hover{
    filter: brightness(0) invert(1) sepia(3) saturate(50) hue-rotate(300deg);
}
@media ( min-width: 376px ) {
.nav{
    display: flex;
    flex-wrap: wrap;
}
.nav_img{
    max-width: 437px;
    max-height: 700px;
    flex-basis: 50%;
}
.nav_context{
    flex-basis: 50%;
    position: absolute;
    left:378px;
    top:70px;
}
.nav_button{
    margin-top: 50px;
}
.gallery{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
    gap: 10px;
}
.gallery_info{
order: -1;
width: 223px;
height: 299px;
padding-left: 40px;
padding-right: 40px;
}
.gallery_img:nth-of-type(3) {
    width: 280px;
    height: 313px;
}
.inspire{
    width: 260px;
    height: 396px;
    position: relative;
    left: 435px;
    top: -440px;
}
.inspire_title{
    padding-top: 80px;
}
.info{
    margin-top: -300px;
    display: flex;
    align-items: center;
    padding-right: 39px;
    padding-left: 39px;
    padding-top: 35px;
    padding-bottom: 35px;
}
.info_title{
    width: 110px;
    padding-right: 50px;
    position: relative;
    top:-30px;
}
.info_text{
    width: 281px;
    padding-right: 90px;
}
.info_icons{
    position: relative;
    top:-20px;
}

}
@media ( min-width: 769px ) {
.nav_img{
    max-width: 540px;
    max-height: 800px;
    padding-left: 450px;
    background-color: #151515;
}
.nav_title{
    position: relative;
    color:#FFFFFF;
    right:75px;
    max-width: 210px;   
}
.nav_title_color{
    color: #151515;
}
.nav_text{
width: 350px;
position: relative;
left: 550px;
bottom: 110px;
}
.nav_button{
position: relative;
left:550px;
}
.gallery{
    gap:30px;
}
.gallery_info{
    padding-left: 120px;
    padding-right: 230px;
}
.gallery_img_first{
    width: 635px;
    height: 400px;
}
.gallery_img_second{
    width: 635px;
    height: 720px;
    padding-left: 130px;
}
.gallery_img_last{
    width: 445px;
    height: 313px;
}
.inspire{
    left:820px;
    top: -420px;
  width: 430px;
  height: 377px;
}
.inspire_title{
    width: 200px;
    padding-left: 40px;
    padding-right: 40px;
}
.inspire_text{
    width: 300px;
    padding-left: 40px;
}
.info_title{
    padding-left: 120px;
    padding-right: 120px;
}
.info_text{
    width: 430px;
    padding-right: 340px;
}
}