body {
    margin: 0px;
    padding: 0px;
}
.nav {
position: relative;
}
.nav_button{
    position:absolute;
    color: #FFFFFF;
    border: none;
    font-family: 'Big Shoulders Display';
    font-size: 20px;
    letter-spacing: 4px;
    cursor: pointer;
    margin: 0px;
    display: flex;
    padding: 0px; 
}
.nav_button:hover .nav_text {
    background-color: #D5966C;;
}
.nav_button:hover .nav_icon {
    background-color: #151515;
    fill:#FFFFFF;
}
.nav_icon{
    background-color: #D5966C;
    padding:20px;
}
.nav_text{
    background-color: #151515;
    padding: 20px;
    margin: 0px;
}
.nav_img{
    max-width: 100%;
      height: auto;
      margin: 0 auto; 
}
.adress{
    font-family: 'Big Shoulders Display';
    background-color: #151515;
    color: #FFFFFF;
    margin-top: -4px;
    padding: 16px;
    padding-left: 30px;
}
.adress h1{
    font-size: 50px;
}
.adress h2{
    font-size: 32px;
    color: #D5966C;
}
.adress p{
    font-family: 'Outfit';
    font-size: 18px;
    padding-bottom: 20px;
}
.social{
    background-color: #D5966C;
    margin-top: 0px;
    padding-left: 24px;
    padding-top: 30px;
    font-family: 'Big Shoulders Display';
}
.social h3{
font-size: 28px;
}
.social p{
    font-family: 'Outfit';
    font-size: 16px;
    padding-bottom: 20px;
}
.social_icons{
    padding-bottom: 25px;
    padding-right: 15px;
}
.social_icon{
    cursor: pointer;
    padding-right: 10px;
    filter: invert(100%);
}
.social_icon:hover{
    filter:invert(0%);
}
@media ( min-width: 376px ) {
    .nav_button{
        margin-left: 25px;
    }
    .adress {
        display: flex;
        flex-wrap: wrap;

    }
    .adress h1 {
        flex-basis: 50%;
        padding-top: 60px;
    }
    .adress_info {
        flex-direction: column;
        flex-basis: 50%;
        padding-top: 20px;
}
.social {
    display: flex;
    align-items: center;
}
.social_icons{
    display: flex;
    gap: 15px;
    padding-bottom: 115px;
}
.social p {
    max-width: 281px;
    padding-left: 40px;
    padding-right: 60px;
}
.social h3 {
    padding-bottom: 80px;
}
}
@media ( min-width: 769px ) {
    .nav_button{
        margin-left: 120px;
    }
    .adress {
        padding-left: 165px;
        padding-right: 165px;
}
    .social {
        justify-content: space-between; 
}
    .social h3 {
        padding-left: 80px;
    }
    .social p {
        max-width: 430px;
    }
    .social_icons {
        padding-right: 80px;
    }
}